<!DOCTYPE html>
<html>
<head>
	<title>Ashwath's Restaraunt</title>
</head>
<body>
	<h1>Welcome to Ashwath's online restaraunt</h1>
	<img src="https://i.pinimg.com/564x/c6/8b/14/c68b1410fab9dd680bd26cc46c364e3b.jpg">
	<img src="https://st3.depositphotos.com/2518941/12699/i/950/depositphotos_126992746-stock-photo-funny-boy-chef.jpg" width="200" height="200">
	<br>
	<a href="{{url_for('order')}}">Click here to order</a>
	<br>
	<a href="{{url_for('menu')}}">Click here to view the Menu</a>
	<br>
	<a href="{{url_for('pay')}}">Click here to pay if you have already finished ordering</a>
</body>
</html>